<ul>
    {% for change in changes %}
    <li>
        {{ make_page_link(change.name, change.name, version=change.version, diff_version=change.diff_version) }}
        {% if change.old_name %} (<b>RENAMED</b> from {{change.old_name}}) {% endif %}
        {{ change.timestamp }}
        {% if change.new %} <b>NEW!</b> {% endif %}
    </li>
    {% endfor %}
</ul>
