<!DOCTYPE html>

<html lang="se">

  <head>
    <meta charset="utf-8"/>
    <style>

     html, body {
         padding: 0;
         margin: 0 auto;
         height: 100%;
     }

     body {
         width: 90%;
         max-width: 30cm;
         background: #faa;
     }

     table {
         height: 100%;
         width: 100%;
     }

     tr.main td {
         height: 100%;
     }

     form, textarea {
         padding: 0;
         margin: 0;
         width: 100%;
         height: 100%;
         border: 0;
     }

     textarea {
         /* padding: 0.5em; */
         font-size: large;
         line-height: 1.5em;
         outline: none;
         border: 1px solid #bbb;
     }

     .help {
         float: right;
     }

    </style>
  </head>

  <body>
      <form action="/submit/{{ name }}" method="post">

      <input id="page_name" type="hidden" name="name" value="{{ name }}"/>
      <table>
        <tr>
          <td colspan="2">
              <h2>{{name}} {{info}}</h2>
              Someone has edited the page since you started and the changes conflict with yours.
              Please solve the conflict and submit again. Make sure to remove the "&lt;&lt;&lt;..." lines!
          </td>
        </tr>
        <tr class="main">
          <td>
            <textarea id="page_body" name="body">{{ body | safe }}</textarea>
          </td>
          <td width="10%" valign="top">
              <div class="help">
                  <font size=+1>Lathund i stil</font>

                  <p>
                      <tt>
                          ''kursiv text''<br>
                          __understruket__<br>
                          ##fet stil##<br>
                          ==maskinskrivet==<br>
                          matte $i$ text <br>
                          $$matteformel$$ <br>
                          <p>
                              index,,x,,<br>
                              upphöjt^^x^^<br>
                          </p>
                          <p>
                              &gt;kommentar<br>
                              &gt;&gt;nästa nivå<br>
                          </p>
                          <p>
                              &nbsp;indragen text<br>
                          </p>
                          <p>
                              *element i lista<br>
                              &nbsp;forts...<br>
                              &nbsp;*lista i listan<br>
                          </p>
                          <p>
                              0numrerad lista<br>
                          </p>
                          <p>
                              ?term<br>
                              !definition<br>
                          </p>
                          <p>
                              \\otolkad text\\<br>
                          </p>
                      </tt>
                      <p>
                          (<a href="/show/FormatteringsRegler">FormatteringsRegler</a>)
                      </p>
              </div>

        </td>

        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" value="Submit" title="Save your edits."/>
            <input type="submit" formaction="/preview/{{ name }}" value="Preview"
                   title="Render the edited page without saving. You can go back to editing using the browser's back button."/>
            <a href="/show/{{ name }}">Cancel</a>
            <input type="hidden" name="commit" value="{{commit}}">
          </td>
        </tr>
      </table>



    </form>

  </body>

</html>
