<h3>{{ page or "All pages" }}</h3>

<ul>
    {% for version, change in changes %}
    <li>
        {{ version }}:
        {{ make_page_link(change.filename, change.filename, version=version) }}
        {{ change.timestamp }}
        {% if change.notes %}
           {% if change.notes[0] == 'NEW' %}
              <b>NEW!</b>
           {% endif %}
           {% if change.notes[0] == 'MINOR' %}
              MINOR
           {% endif %}
        {% endif %}              
    </li>
    {% endfor %}
</ul>
