<!DOCTYPE html>

<html lang="se">

<head>
  <meta charset="utf-8"/>

  <style>

      html {
          padding: 0;
          margin: 0 auto;
      }

      body {
          padding: 0 1em;
          margin: 10px auto;
          line-height: 1.3em;
          max-width: 30cm;
          position: relative;
      }

      blockquote {
          padding: 0.1em 1em;
          background: #fee;
          font-style: normal
                      display: block;
          margin-left: 20px;
      }

      hr {
          height: 0;
          border: 0;
          border-top: 1px solid #000;
      }

      footer {
          font-size: small;
      }

      code, pre {font-family: monospace; font-size: 1.2em;}

      pre {
          padding: 0.1em 1em;
          background: #eef;
      }
      code {
          background: #eee;
      }

      table.head, table.head thead, table.head td, table.head tr {
          border-width: 0;
          margin: 0;
          padding: 0;
          border-collapse: collapse;
      }

      .head p {
          margin: 0;  /* Make the header more compact */
      }

      table.wiki {
          border-collapse: collapse;
      }

      table.wiki td {
          border: 1px solid #aaa;
          padding: 0 3px;
      }

      li {
          margin-bottom: 10px;  /* Make lists less compact */
      }

      .editable:hover {
          outline: 2px dashed #aaa;
          outline-offset: 5px;
      }

      .editable > button.edit-snippet {
          visibility: hidden;
      }

      .editable:hover > button.edit-snippet {
          visibility: visible;
      }

      form.edit-snippet textarea {
          padding: 0;
          margin: 0;
          width: 100%;
          border: 1px solid #bbb;
          font-size: large;
          line-height: 1.5em;
      }

      ins {
          background: yellow;
          text-decoration: none;
      }

      del {
          background: #faaa;
      }

  </style>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css" integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j" crossorigin="anonymous">

  <!-- The loading of KaTeX is deferred to speed up page rendering -->
  <script src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.js" integrity="sha384-9Nhn55MVVN0/4OFx7EE5kpFBPsEMZxKTCnA+4fqDmg12eCTqGi6+BB2LjY8brQxJ" crossorigin="anonymous"></script>

</head>


<body>
    <form action="{{ url_for('submit', page_name=name) }}" method="post">
        <table class="head" style="width: 100%;">
            <tr>
                <td style="width: 10%;">
                    <h2>
                        {{name}}
                    </h2>
                </td>
                <td style="text-align: right;">
                    Preview

                    <input id="page_name" type="hidden" name="name" value="{{ name }}"/>
                    <textarea id="page_body" type="textarea" name="body" style="display: none;">{{ raw_body | safe }}</textarea>
                    <input type="hidden" name="commit" value="{{commit}}">
                    <input type="submit" value="Submit"/>

                </td>
            </tr>
        </table>

        <article>
            {{ body | safe }}
        </article>

        <hr>

        <footer>
            Sidan renderad på {{ render_time }} s.
            <input type="submit" value="Submit" style="float: right;"/>
        </footer>
    </form>
  <script src="/static/mathtex-script-type.min.js"></script>

</body>


</html>
