
<!DOCTYPE html>

<html lang="se">

<head>
  <meta charset="utf-8"/>

  <title>kd/{{name}}</title>

  <style>

      html {
          padding: 0;
          margin: 0 auto;
      }

      body {
          padding: 0 1em;
          margin: 10px auto;
          line-height: 1.3em;
          max-width: 30cm;
          position: relative;
          {% if version < -1 %}
          background: #DEF;
          {% else %}
          background: white;
          {% endif %}
      }

      blockquote {
          padding: 0.1em 1em;
          background: #fee;
          font-style: normal
                      display: block;
          margin-left: 20px;
      }

      hr {
          height: 0;
          border: 0;
          border-top: 1px solid #000;
      }

      footer {
          font-size: small;
      }

      code, pre {font-family: monospace; font-size: 1.2em;}

      pre {
          padding: 0.1em 1em;
          background: #eef;
      }
      code {
          background: #eee;
      }

      table.head, table.head thead, table.head td, table.head tr {
          border-width: 0;
          margin: 0;
          padding: 0;
          border-collapse: collapse;
      }

      .head {
          font-size: default;
          position: sticky;
          top: 0;
          background: inherit;
          z-index: 100;
      }
      
      .head p {
          margin: 0;  /* Make the header more compact */
      }

      table.wiki {
          border-collapse: collapse;
      }

      table.wiki td {
          border: 1px solid #aaa;
          padding: 0 3px;
      }

      li {
          margin-bottom: 10px;  /* Make lists less compact */
      }

      .editable:hover {
          outline: 2px dashed #aaa;
          outline-offset: 5px;
      }

      .editable > button.edit-snippet {
          visibility: hidden;
      }

      .editable:hover > button.edit-snippet {
          visibility: visible;
      }

      form textarea {
          padding: 0;
          margin: 0;
          width: 100%;
          border: 1px solid #bbb;
          font-size: large;
          line-height: 1.5em;
      }

      ins {
          background: yellow;
          text-decoration: none;
      }

      del {
          background: #faaa;
      }

      .change-links {
          position: fixed;
          right: 0;
          top: 0;
          max-width: 100px;
          white-space: nowrap;
          text-overflow: ellipsis;
      }

      .change-anchor {
          position: relative;
          top: -200px;
      }

      .edit-anchor {
          /* Need to offset this so it's not covered by the floating header :( */
          /* display: block; */
          position: relative;
          top: -200px;
          visibility: hidden;
   }

  </style>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css"
        integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j"
        crossorigin="anonymous">

  <!-- The loading of KaTeX is deferred to speed up page rendering -->
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.js"
          integrity="sha384-9Nhn55MVVN0/4OFx7EE5kpFBPsEMZxKTCnA+4fqDmg12eCTqGi6+BB2LjY8brQxJ"
          crossorigin="anonymous"></script>

  <script>

   /* Adds the ability to edit part of the page in-line */

   function editSnippet(el) {

       /* Replace the element with a text area containing the original markup. */

       // Cut out the interesting part of the raw page.
       let start = el.dataset.start,
           end = el.dataset.end,
           fullText = document.getElementById("raw-body").innerText,
           snippet = fullText.slice(start, end);

       console.log("editing snippet", start, end, `'${snippet}'`)

       // Editor input that will be inserted in the page
       let editor = document.createElement("textarea")

       editor.addEventListener("keydown", (e) => {
           // Allow shift+return to submit the changes
           if (e.keyCode === 13 && e.shiftKey) {
               e.preventDefault();
               submitButton.click();
           } else if (e.code === "Escape") {
               cancelButton.click();
           }
       })
       
       // Some hacking to make the field resize automatically.
       editor.addEventListener("input", function () {
           if (this.style.height !== this.scrollHeight + "px") {
               this.style.height = "auto";
               this.style.height = this.scrollHeight + "px";
           }
       });
       editor.value = snippet;
       editor.classList.add("edit");
       editor.name = "body"

       let submitButton = document.createElement("input")
       submitButton.type = "submit";
       submitButton.value = "Submit";

       // A hidden input that will contain the complete page when we submit.
       let commit = document.createElement("input")
       commit.type = "hidden"
       commit.name = "commit"
       commit.value = "{{commit}}"

       let startEl = document.createElement("input")
       startEl.type = "hidden";
       startEl.name = "start";
       startEl.value = start

       let endEl = document.createElement("input")
       endEl.type = "hidden"
       endEl.name = "end"
       endEl.value = end;
       
       const container = document.createElement("div")
       container.appendChild(editor);
       container.appendChild(commit);
       container.appendChild(startEl);
       container.appendChild(endEl);
       container.appendChild(submitButton);

       let cancelButton = document.createElement("input");
       cancelButton.type = "button";
       cancelButton.value = "Cancel";
       cancelButton.addEventListener("click",
                                     function () {
                                         parent.replaceChild(el, container);
                                     })
       container.appendChild(cancelButton);
       let helpText = document.createElement("span");
       helpText.innerHTML = "Shift+Return = submit, Escape = cancel.";
       container.appendChild(helpText);

       let minorChange = document.createElement("input");
       minorChange.type = "checkbox";
       minorChange.name = "minor";
       let minorChangeLabel = document.createElement("label");
       minorChangeLabel.innerText = "Minor change";
       minorChangeLabel.appendChild(minorChange);
       container.appendChild(minorChangeLabel);

       let parent = el.parentNode;
       parent.replaceChild(container, el);

       /* Set starting height */
       editor.style.height = editor.scrollHeight + "px";

       editor.focus();
   }

   function makeEditable(el) {
       el.classList.add("editable");
       let button = document.createElement("button")
       button.classList.add("edit-snippet");
       button.innerText = "Edit"
       el.style.position = "relative";
       button.style.position = "absolute";
       button.style.padding = button.style.margin = 0;
       button.style.right = 0;
       button.style.bottom = 0;
       button.addEventListener("click", editSnippet.bind(this, el))
       el.appendChild(button)
   }

   function enableInlineEditor() {
       let editable = document.querySelectorAll("article > [data-start]");
       editable.forEach(makeEditable);
   }

   {% if version == -1 %}
   window.addEventListener("load", enableInlineEditor);
   {% endif %}

  </script>

  <script id="raw-body" type="text/plain">{{ raw_body | safe }}</script>

</head>


<body>



    <table class="head" style="width: 100%;">
        <tr>
            <td style="width: 10%;">

                {% if name != old_name %}
                <h2 style="white-space: nowrap;">
                    {{old_name}}
                </h2>
                [now:&nbsp;{{name}}]
                {% else %}
                <h2 style="white-space: nowrap;">{{name}}</h2>
                {% endif %}

                {% if prev_page or next_page -%}
                <div style="white-space: nowrap;">
                    {% if first_page %}<a href={{first_page}}>First</a>{% else %}First{% endif %}
                    🡐 {% if prev_page %}<a href={{prev_page}}>Previous</a>{% else %}Previous{% endif %}
                    ·
                    {% if next_page %}<a href={{next_page}}>Next</a>{% else %}Next{% endif %} 🡒
                    {% if last_page %}<a href={{last_page}}>Last</a>{% else %}Last{% endif %}
                </div>
                {% endif %}
            </td>
            <td style="text-align: right;">
                {{ header | safe }}
            </td>
        </tr>
    </table>

    <form action="/submit/{{name}}" method="post" id="body-form">
        <article>
            {{ body | safe }}
        </article>
    </form>

    <br>

  <footer>
    Sidan ändrades senast {{ last_change }}.
    Renderingen tog {{ render_time }} s.
  </footer>

  <script defer src="/static/mathtex-script-type.min.js"></script>

</body>


</html>
